.movie-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 20px;
  }
  
  .movie-card {
    background: rgba(255, 255, 255, 0.05) !important;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(240, 235, 216, 0.15);
    color: white !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(240, 235, 216, 0.15);
    border-radius: 12px;
    padding: 20px;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    mix-blend-mode: normal;
    text-align: justify;
  }
  
  .movie-image {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .add-button {
    background-color: #007bff;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: auto;
    align-self: flex-start;
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }
  
  .popup {
    margin-top: 10px;
    padding: 10px;
    background-color: #eee;
    border-radius: 6px;
  }
  
  .popup-review-text,
  .popup-rating-select {
    width: 100%;
    padding: 6px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .popup-add-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .popup-add-button:hover {
    background-color: #218838;
  }
  
  .cancel-button {
    float: right;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }

  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  body {
    background-color: #ffffff;
  }