.hotbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: var(--darkest);
    border-radius: 0px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.hotbar-left {
    flex-shrink: 0;
}

.hotbar-center {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-grow: 1;
}

.hotbar-right {
    flex-shrink: 0;
}

.hotbar-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.hotbar-link:hover {
    background-color: #748CAB;
    color: var(--darkest);
}

.hotbar-button {
    background: none;
    border: none;
    color: #ffffff;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}
  
.hotbar-button:hover {
    background-color: #748CAB;
    color: var(--darkest);
}